{% from "macros/c_smal_banner.j2" import c_smal_banner %}
{{ c_smal_banner(machine, version) }}
#ifndef {{ header_guard }}
#define {{ header_guard }}

#include <stdint.h>

#define {{ machine | upper}}_VERSION {{ version }}

// CONSTANTS
{% for constant_name, constant_value in constants.items() %}
#define {{ constant_name | upper }} {{ constant_value }}
{% endfor %}

// STATES
typedef enum _{{ machine | lower }}_state_t {
{% for state in states %}
    {{ machine | upper }}_STATE_{{ state.name | upper }} = {{ state.id }},
{% endfor %}
} {{ machine | lower }}_state_t;

// EVENTS
typedef enum _{{ machine | lower }}_event_t {
{% for event in events %}
    {{ machine | upper }}_EVENT_{{ event.name | upper }} = {{ event.id }},
{% endfor %}
} {{ machine | lower }}_event_t;

// COMMANDS
// TBD

// MESSAGES
// TBD

// ENUMS
//TBD

// STRUCTS
//TBD

#endif // {{ header_guard }}
